<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"
/>

<div>
  <h2>Bienvenido: {{firstName}}, {{lastName}}!</h2>
  <p>Email: {{email}}</p>
  <p>Edad: {{age}}</p>
  <p>Rol: {{role}}</p>
<<<<<<< HEAD
=======
  <p>cartID: {{cartID}}</p>
>>>>>>> 9460772 (Preentrega Nº 3)

  <a href="/logout">Logout</a>
</div>
<hr />
<div>
  {{#each productos}}
    <p>Título: {{this.title}}</p>
    <p>Descripción: {{this.description}}</p>
    <p>Code: {{this.code}}</p>
    <p>Precio: {{this.price}}</p>
    <p>Status: {{this.status}}</p>
    <p>Stock: {{this.stock}}</p>
    <p>Categoría: {{this.category}}</p>
    <p>Img: {{this.thumbnail}}</p>
    <p>ID: {{this.id}}</p>
<<<<<<< HEAD
    <button class="add-cart" onclick="addToCart('{{this.id}}')">Agregar al
      carrito</button>
    <hr />
  {{/each}}
  <a href="http://localhost:8080/carts/1">Ver el Carrito</a>
=======

    <button
      class="add-cart"
      onclick="addToCart('{{cartID}}', '{{this.id}}')"
    >Agregar al carrito</button>
    <hr />
  {{/each}}
  <a href="http://localhost:8080/carts/{{this.cartID}}">Ver el Carrito</a>
>>>>>>> 9460772 (Preentrega Nº 3)
  <hr />
  <br />
  totalPages:
  {{totalPages}}
  prevPage:
  {{prevPage}}
  nextPage:
  {{nextPage}}
  page:
  {{page}}
  hasPrevPage:
  {{hasPrevPage}}
  hasNextPage:
  {{hasNextPage}}
  <hr />
  <br />
  {{#if hasPrevPage}}
    <a
      style="text-decoration: none;"
      href="http://localhost:8080/productos?page={{prevPage}}"
    ><span class="material-symbols-outlined">
        arrow_back
      </span></a>
  {{/if}}
  {{#if hasNextPage}}
    <a
      style="text-decoration: none;"
      href="http://localhost:8080/productos?page={{nextPage}}"
    ><span class="material-symbols-outlined">
        arrow_forward
      </span></a>
  {{/if}}
</div>

<script src="/js/productsToCart.js"></script>